<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="https://cdn.muicss.com/mui-0.0.1/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/calendar.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.muicss.com/mui-0.0.1/js/mui.min.js"></script>
    <script src="/javascripts/interact-1.2.3.min.js"></script>
  </head>
  <body>
    <div class="mui-appbar">
      <div class="mui-container">
        <div class="mui-text-white mui-text-display2"> Calendar </div>
      </div>
    </div>
    <div class="mui-container">
      <div class="mui-panel">
        <table class="mui-table">
          <thead id="calendar-header">
            <tr>
              <th> Semester 1 </th>
              <th> Semester 2 </th>
              <th> Semester 3 </th>
              <th> Semester 4 </th>
            </tr>
          </thead>
          <tbody id="calendar-body">
            <tr>
              <td> <div class="red mui-panel course-panel"> CS 1710 </div> </td>
              <td> <div class="red mui-panel course-panel"> CS 2710 </div> </td>
              <td> <div class="red mui-panel course-panel"> CS 2711 </div> </td>
              <td> <div class="red mui-panel course-panel"> CS 3719 </div> </td>
            </tr>
            <tr>
              <td> <div class="teal mui-panel course-panel"> Math 1090 </div> </td>
              <td> <div class="teal mui-panel course-panel"> Math 1000 </div> </td>
              <td> <div class="teal mui-panel course-panel"> Math 1001 </div> </td>
              <td> <div class="teal mui-panel course-panel"> Math 2000 </div> </td>
            </tr>
            <tr>
              <td>  </td>
              <td> <div class="yellow mui-panel course-panel"> Math 2320 </div> </td>
              <td>  </td>
              <td>  </td>
            </tr>
            <tr>
              <td>  </td>
              <td> <div class="yellow mui-panel course-panel"> CS 2742 </div> </td>
              <td>  </td>
              <td>  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>